@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.title-rajdhani {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
}

/* Estilo específico para o componente de chat */
app-chat {
  width: 100%;
  max-width: 600px;
  min-width: 600px;
}
